
<div id ="intro-description-container">
    <div id ="intro-description-content">
        <p> Chat with your classmates - Do assignments together - Connect and Communicate <pi>
    </div>
</div>


<div id="submit-stuff-container">
    <div id="submit-stuff-content">
<p> To begin, enter school abbreviation and city </p>
<%= form_for :school do |f| %>
  <p>
    <%= f.label :school %><br>
    <%= f.text_field :school %>
  </p>
 
  <p>
    <%= f.label :class %><br>
    <%= f.text_field :class %>
  </p>
 
  <p>
    <%= f.submit 'Enter'%>
  </p>
<% end %>
</div>
</div>
