<div id="submit-stuff-container">
    <div id="submit-stuff-content">
<h3> To begin, enter school acronym, city, and course ID </h3>
<%= form_for :school, url: schools_path do |f| %>
  <p>
    <%= f.label :school %><br>
    <%= f.text_field :short %>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :course %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Enter'%>
  </p>
<% end %>
</div>
</div>
