
<div id ="intro-description-container">
    <div id ="intro-description-content">
        <p> Chat with your classmates - Do assignments together - Connect and Communicate <pi>
    </div>
</div>


<div id="submit-stuff-container">
    <div id="submit-stuff-content">
<p> To begin, enter school abbreviation, city, and class code </p>
<%= form_for :school, url: schools_path do |f| %>
  <p>
    <%= f.label :school %><br>
    <%= f.text_field :short %>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :course %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Enter'%>
  </p>
<% end %>
</div>
</div>
<div id ="side-bar-container">
    <div id ="side-bar-content">
        <p> dfdasfdsafdsa </p>
    </div>
</div>
