<%= javascript_include_tag params[:controller] %>

<ul id = "AssCourseTitles">
	<li><h3 id = "SchoolNameCourseTitle"> <%= @school.short+"-"+@school.city %> > &nbsp </h3> </li>
	<li><h3 id = "CourseNameCourseTitle"> <%= @course.name %> > &nbsp </h3></li>
	<li><h3 id = "AssignmentNameAssTitle"><%= @ass.name %></h3> </li>
</ul>

<div id="assLeft">

<div id ="TopPostsTitle"> Top Posts </div>

</div>

<div id="assRight">
	<div id = "ChatTitle"> Chat </div>

    <%= form_for :message, url: messages_path, remote: true, html: {class: "message_post"} do |f| %>
	  <p>
		<%= f.label  "" %><br>
		<%= f.text_field :text, :placeholder => "Enter chat message!!" %>
	  </p>
	  <p>
		<%= f.submit 'Send' %>
	  </p>
	<% end %>
</div>

<div id ="AllAssignmentsLink">
<%= link_to 'Back to assignment list', controller: 'courses', action: 'show', id: @course %>
</div>

