<!DOCTYPE html>
<!-- <html style="background-image: url(images/bgs/color<%= rand(14) %>.png);"> -->
<html style="background-image: url(/images/bgs/black.png);">
<head>
  <title>Classyapp</title>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="container">
        
        <div id="header">
        <div id = "header-content">
           <a href = "/"><h2> WE</h2> <img src = "/images/bowties/tie.svg" class = "bowtie" id = "tieone"> <h2>SO</h2> <img src = "/images/bowties/tie.svg" class = "bowtie" id = "tietwo"> <h2>CLASSY</h2></a>
        </div>

        </div>
       
        <div id="content">
            <%= yield%>
        </div><!-- #content -->

        <div id="footer">
            <div id ="footer-content">
                <ul id = "footer-links">
                    <li>CONTACT</li>
                    <li>FAQ</li>
                    <li>ABOUT</li>
                </ul>
            </div>
        </div><!-- #footer -->

</div><!-- #wrapper -->

</body>
</html>
