<!DOCTYPE html>
<!-- <html style="background-image: url(images/bgs/color<%= rand(14) %>.png);"> -->
<html style="background-image: url(images/bgs/black.png);">
<head>
  <title>Classyapp</title>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="container">

       <div id="header">
           <div id = "header-content">
               <h2> WE</h2> <img src = "images/bowties/tie.svg" class = "bowtie" id = "tieone"> <h2> SO </h2> <img src = "images/bowties/tie.svg" class = "bowtie" id = "tietwo"> <h2>CLASSY</h2>
           </div>
       </div><!-- #header -->

        <div id="content">
            <%= yield%>
        </div><!-- #content -->

        <div id="footer">
            <h3> FOOTER </h3>
        </div><!-- #footer -->

</div><!-- #wrapper -->

</body>
</html>
