<ul>
	<li> <%= @school.short+"-"+@school.city %> </li>
	<li> <%= @course.name %> </li>
	<li> <%= @ass.name %> </li>
</ul>

<div id="ass-spotlight-container">

</div>
<div id="ass-chat-container">
	<%= form_for :message do |f| %>
	  <p>
		<%= f.label :text %><br>
		<%= f.text_area :text %>
	  </p>
	  <p>
		<%= f.submit 'Send' %>
	  </p>
	<% end %>
</div>
